<h1> Find Users </h1>
  <%= form_tag users_filterUsers_path, :remote => true, :method => 'get', :id => "userSearch" do %>
    <%= text_field_tag :search, params[:search] %>
  <% end %>

<div id="userlist" class="userlist">
  <%= render 'userList' %>
</div>

<!--
  Script for doing an ajax-call on every keyup event
  of the search field
-->
<script type="text/javascript">
$(function(){
    $("#userSearch input").keyup(function() {
        $.get($("#userSearch").attr("action"), $("#userSearch").serialize(), null, "script");
        return false;
    });
});
</script>