
<% if @song.song_comments.length > 0 then %>
<h2>Comments</h2>
<%= render @song.song_comments %>
<% end %>

<!--
<div class="new_comment_container">
<h2>Add a comment:</h2>
<%= render "song_comments/form" %>
-->



</div>


