.container {
  width: 950px;
}

body {
  background: #000000;
}

header {
  padding-top: 20px;
}

header nav {
  margin-top:2em;
  margin-right:2em;
}

.bg_header{
  background-image: url(bg.jpg);
  width:100%;
  height:23em;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  background: #fff;
  padding:0.4em;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  color: #99ccff;
  text-decoration: underline;
}


.player {
    margin:auto;
    border:1px solid;
    height:12.3em;
    padding-top:0.1em;
    background-color:#efefef;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-left {
  -moz-border-top-left-radius:    10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;

  -moz-border-bottom-left-radius:    10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.round-right {
  -moz-border-top-right-radius:    10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;

  -moz-border-bottom-right-radius:    10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

.clear {
clear:both;
}

.usermenu {
  background-color:#ffffff;
}

.usermenu ul li{
   list-style-type:none;
}

.playlist {
 background-color:#ffffff;
}

.songmeta {
 background-color:orange;
 padding-left:0.2em;
}

.songmeta .metainfo{
  float:left;
  padding-right:1em;
}


.songmenu {
  background-color:#fff;
}


.new_comment_container{
 display:none;

}
.success {
  color: green;
}


 .comment
  {
   width: 80%;
   padding: 10px;
   background: #666;
   color: #fff;
   font: normal 12px "Segoe UI", Arial, Sans-serif;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   margin-bottom:15px;
  }

  .comment:after
  {
   content: "";
   border: solid 10px transparent; /* set all borders to 10 pixels width */
   border-top-color: #666; /* the callout */
   border-bottom: 0; /* we do not need the bottom border in this case */
   width: 0;
   height: 0;
   overflow: hidden;
   display: block;
   position: relative;
   bottom: -20px; /* border-width of the :after element + padding of the root element */
   margin-left: 10em;
  }


input[type="submit"]{
  color:#ffffff;
  font:1.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  padding:0.4em;
  background:url(overlay.png) repeat-x center #ffcc00;background-color:#0066cc;
  border:1px solid #3399ff;
  -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
  border-bottom:1px solid #000066;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  cursor:pointer;
}

input[type="submit"]:hover{
  background-color:#99ccff; color:#000
}

input[type="submit"]:active{
  position:relative;top:2px;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  /* this will work for QtWebKit in future */
  -webkit-user-drag: none;
}
