/* METAINFOS */
.metainfoContainer {
 background-color:orange;
 padding:0.2em;
}

.metainfoContainer .metainfo{
  float:left;
  padding-right:1em;
}

.metainfoContainer .metainfo span{
  margin-left:0.5 em;
}


