<div class="usermenu span-3 round-left">
  <ul>
<li>Menu<li>

    <li><%= link_to "+ Audio", upload_path, :remote => true %></li>
    <li><%= link_to "My Audios", {:controller => "songs", :action => "showUsersSongs", :id => current_user.id}, :remote => true %></li>
    <li><%= link_to "My Profile", current_user, :remote => true%></li>
    <li><%= link_to "Other Users", users_path, :remote => true%></li>
  </ul>
</div>
