<div class="menu">
  <ul>Menu

    <li><%= link_to "+ Audio", upload_path %></li>
    <li><%= link_to "Audioliste", audiolist_path %></li>

    <li>Profile</li>

    <li>Playlist1</li>
    <li>Playlist2</li>
    <li>...</li>
  </ul>
</div>
